{% extends "layout.njk" %}

{% block content %}

    <div class="page-info">
        <img src="https://pbs.twimg.com/profile_images/953595371875422210/0pWsfSSp_400x400.jpg" alt="Rocketseat Image">
        <h1>Rocketseat</h1>
        <p>Somos líder no mercado de formacão para área de desenvolvimento web com a utilizacão das seguintes tecnologias:</p>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>NodeJS</li>
        </ul>
    </div>

{% endblock %}
