{% extends "layout.njk" %}

{% block head %}
    <title>Error 404</title>
    <link rel="icon" href="https://raw.githubusercontent.com/Rocketseat/bootcamp-launchbase-desafios-02/master/desafios/favicon.ico" type="image/x-icon" />
{% endblock %}

{% block content %}

    <div class="not-found">
        <h1>Error 404 not found</h1>
        <p>Falha na conexão. Tente solucionar o problema ou contate seu provedor de internet.</p>
    </div>

{% endblock %}