{% extends "layout.njk" %}

{% block content %}

    <div class="not-found">
        <h1>Error 404 not found</h1>
        <p>Falha na conexão. Tente solucionar o problema ou contate seu provedor de internet.</p>
    </div>

{% endblock %}